alembic
argon2-cffi
arrow
asgiref
attrs
backcall
binaryornot
bleach
camelcase
certifi
cffi
chardet
charset-normalizer
click
colorama
cookiecutter
coreapi
coreschema
cryptography
cycler
debugpy
decorator
defusedxml
distlib
dj-rest-auth
Django2
django-allauth
django-cors-headers
django-crispy-forms
django-rest-auth
django-rest-swagger
djangorestframework
djangorestframework-jwt
djangotoolbox
djlint
djongo
dnspython
email-validator
entrypointsnvironilelock
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
goto-label
goto-statementreenlet
gunicorn
idnamportlib-metadata
ipykernel
ipython0
ipython-genutils
ipywidgets
itsdangerous
itypes
jedi1
Jinja
jinja2-time
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
Mako
MarkupSafe
matplotlib
matplotlib-inline
Mesa
mistune
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy4
oauthlib
openapi-codec
opencv-python.58
packagingpandas
pandocfilters
parso
pathspec
pickleshare
Pillow
pipenv
platformdirs
portalocker
poyo
prometheus-client
prompt-toolkit
protobuf
pycparserpydotplus
pygame
Pygments
pymongo
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-slugify
python3-openid
pytube
pytz
PyYAMLyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
scikit-learn
scipy
Send2Trash
simplejson
six
sklearnorl-thumbnail
SQLAlchemy
sqlparse
terminado
testpath
text-unidecodehreadpoolctl
tomlkit
tornadoqdm
traitlets
typing_extensions
uritemplate
urllib
virtualenv
virtualenv-clone
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
zipp